/Runner/.vscode
/Runner/__pycache__
/Runner/.pytest_cache
/Samples/.pytest_cache
/Code/__pycache__
/Code/.pytest_cache
Guide/~$ainer Guide.docx
Presentation/~$Основы алгоритмизации и программирования.pptx
Code/.vscode/.ropeproject/config.py
Code/.vscode/.ropeproject/objectdb
